<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="favicon.png">

    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <title>Jiv Dhaliwal</title>
    <meta name="description" content="Jiv's sketch pad">
  </head>
  <body class="column-container">
    <nav class="row-container">
      <a href="/" class="nav-backbutton">
        <
      </a>
      <h1 class="nav-title">{{ .Title }}</h1>
    </nav>
    <div class="content">
      {{ .Content }}
    </div>
  </body>
</html>