h1 {
  font-size: 2em;
  line-height: 1.5;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5;
}

h3 {
  font-size: 1.17em;
  line-height: 1.5;
}

h4 {
  font-size: 1.12em;
  line-height: 1.5;
}

h5 {
  font-size: .83em;
  line-height: 1.5;
}

h6 {
  font-size: .75em;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

body {
  padding: 5%;
  font-family: 'Alegreya Sans SC', sans-serif;
}