<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="favicon.png">

  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/typography.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <title>Jiv Dhaliwal</title>
  <meta name="description" content="Jiv's sketch pad">
</head>
<body>
  <div class="home-header">
    <h1 class="home-title">Jiv Dhaliwal</h1>
    <h2 class="home-subtitle">Software Engineer</h2>
    <h2 class="home-subtitle">
      <a class="home-subtitle-link" href="https://www.discogs.com/user/jdhaliwal/collection">
        Record Collector
      </a>
    </h2>
    <h2 class="home-subtitle">
    <a class="home-subtitle-link" href="https://500px.com/jivdhaliwal">
        Film Exposer
      </a>
    </h2>
  </div>
</body>
</html>